@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/login-styles.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2>REGISTRARSE</h2>
            <div>
                @using (Html.BeginForm("RegisterTry", "Home", FormMethod.Post))
                {
                    <input type="text" name="username" placeholder="Nombre de Usuario" class="button button3">
                    <input type="password" name="password" placeholder="Clave" class="button button3">
                    <!--<input type="text" name="esAdministrador" placeholder="es Administrador? Escriba true" class="button button3">-->
                    <input type="submit" value="Crear usuario" class="button button3">
                }
            </div>
            <div id="formFooter">
                <a class="underlineHover" href="#">Olvido su contraseña?</a>
            </div>
        </div>
    </div>
</body>
</html>
