@{
    ViewBag.Title = "Egreso";
}

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>EGRESOS</h2>

                    <h6></h6>
                    <button onclick="myFunction(1)" target="_blank" class="button button2">Cargar nuevo egreso</button>
                    <div id="1" style="display:none;">

                        <p><button id="addInput" class="button button3"> Agregar item </button></p>
                        @using (Html.BeginForm("CargarEgreso", "Egreso", FormMethod.Post))
                        {
                            <div id="itemsInput"></div>
                            <p><input type="text" name="descripcion" placeholder="Descripcion" class="button button3"></p>
                            <p><input type="number" name="cantPresup" placeholder="Cantidad de presupuestos requeridos" class="button button3"></p>
                            <p><input type="submit" id="cargarEgreso" value="Cargar egreso" class="button button4"></p>
                        }

                    </div>

                    <p></p>
                    <h6></h6>
                    <button onclick="myFunction(2)" target="_blank" class="button button2">Agregar presupuesto</button>
                    <div id="2" style="display:none;">
                        <p><button id="addInputPresupuesto" class="button button3"> Agregar item </button></p>
                        <p><input type="text" name="criterio" placeholder="Criterio" class="button button3"></p>
                        <p><input type="text" name="categoria" placeholder="Categoria" class="button button3"></p>
                        @using (Html.BeginForm("AgregarPresupuesto", "Egreso", FormMethod.Post))
                        {
                            <div id="itemsInputPresupuesto"></div>
                            <p><input type="number" name="id_egreso" placeholder="ID del Egreso" class="button button3"></p>
                            <p><input type="text" name="CUIT" placeholder="CUIT Proveedor" class="button button3"></p>
                            <p><input type="submit" id="agregarPresupuesto" value="Cargar presupuesto" class="button button4"></p>

                        }
                    </div>
                    <p></p>

                    <button onclick="myFunction(3)" target="_blank" class="button button2">Elegir presupuesto</button>
                    <div id="3" style="display:none;">
                        @using (Html.BeginForm("ElegirPresupuesto", "Egreso", FormMethod.Post))
                        {
                            <input type="number" name="id_egreso" placeholder="ID del Egreso" class="button button3">
                            <input type="number" name="id_presupuesto" placeholder="ID del Presupuesto" class="button button3">
                            <input type="submit" value="Elegir" class="button button4">
                        }

                    </div>


                    <h6></h6>
                    <button onclick="myFunction(3)" target="_blank" class="button button2">Validar Egreso</button>
                    <div id="3" style="display:none;">

                        <h4></h4>
                        @using (Html.BeginForm("ValidarEgreso", "Egreso", FormMethod.Post))
                        {
                            <input type="number" name="id_egreso" placeholder="ID del Egreso" class="button button3">
                            <p>Seleccionar criterio de validacion:</p>
                            <input type="submit" value="Menor valor" class="button button4">
                            <p></p>
                        }

                    </div>

                    <h6></h6>
                    <button onclick="myFunction(4)" target="_blank" class="button button2">Bandeja de Mensajes de Egreso</button>
                    <div id="4" style="display:none;">

                        @using (Html.BeginForm("BandejaDeMensajesDeEgreso", "Egreso", FormMethod.Post))
                        {
                            <p>
                                <input type="number" name="id_egreso" placeholder="ID del Egreso" class="button button3">
                                <input type="submit" value="Mostrar bandeja" class="button button4">
                            </p>
                        }

                    </div>
                    <!--

                    <h6></h6>
                    <button onclick="myFunction(52)" target="_blank" class="button button2">Agregar criterio a item</button>
                    <div id="52" style="display:none;">

                        @using (Html.BeginForm("AsignarCriterio", "Home", FormMethod.Post))
                        {
                            <p><input type="text" name="item_desc" placeholder="Descripcion item" class="button button3"></p>


                            <p><button id="asignarCriterio" class="button button4">Asignar</button></p>
                        }

                    </div>
                    <h6></h6>


                    <p></p>
                    <button onclick="myFunction(20)" target="_blank" class="button button2">Buscar presupuesto</button>
                    <div id="20" style="display:none;">
                        <h6></h6>
                        @using (Html.BeginForm("MostrarPresupuestos", "Home", FormMethod.Post))
                        {
                            <input type="submit" value="Mostrar todos los presupuestos" class="button button4">
                        }
                        <p>Buscar presupuesto por id:</p>
                        @using (Html.BeginForm("MostrarPresupuestoConItems", "Home", FormMethod.Post))
                        {
                            <input type="text" name="id_presupuesto" placeholder="ID del Presupuesto" class="button button3" />
                            <input type="submit" value="Buscar" class="button button4">
                        }
                        <p>Buscar presupuesto por egreso:</p>
                        @using (Html.BeginForm("MostrarPresupuestosPorEgreso", "Home", FormMethod.Post))
                        {
                            <input type="number" name="id_egreso" placeholder="ID del Egreso" class="button button3">
                            <input type="submit" value="Buscar" class="button button4">
                        }
                    </div>
                    -->




                </div>
            </div>
        </div>
    </section>
