@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width" />
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TP ANUAL DDS 2020 GRUPO 5</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/boostrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">GeSoc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">EGRESOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">INGRESOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#proyectos">PROYECTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#proveedores">PROVEEDORES</a>
                    </li>
                    <li>
                        <a class="nav-link js-scroll-trigger" href="#criterios_y_categorias">CRITERIOS Y CATEGORIAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#bitacora_de_operaciones">BITACORA</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="myFunction(0)" class="nav-link js-scroll-trigger">@Session["UserName"]</a>
                    </li>
                    <div id="0">
                        <a href="@Url.Action("Login", "Home")" class="nav-link js-scroll-trigger" style="display:block; color:firebrick">Cerrar sesion</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>GeSoc</h1>
            <p class="lead">Gestion de Proyectos Sociales</p>
        </div>
    </header>

    <!---------------------------------EGRESOS--------------------------------->

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>EGRESOS</h2>

                    <p class="lead">Seleccione una opcion:</p>

                    <h4></h4>
                    @using (Html.BeginForm("CargarValidar", "Home", FormMethod.Post))
                    {
                        <input type="submit" value="Cargar y validar" class="button button2">
                    }

                    <h6></h6>
                    <button onclick="myFunction(1)" target="_blank" class="button button2">Buscar egresos</button>

                    <div id="1" style="display:none;">

                        <h6></h6>
                        @using (Html.BeginForm("MostrarEgresos", "Home", FormMethod.Post))
                        {
                            <input style="margin-left:40px;" type="submit" value="Mostrar todos los egresos" class="button button4" style="margin-left:40px;">
                        }
                        <p></p>
                        <p style="margin-left:40px;">Buscar egreso por id:</p>
                        @using (Html.BeginForm("BuscarEgreso", "Home", FormMethod.Post))
                        {
                            <input style="margin-left:40px;" type="text" name="id_egreso" placeholder="ID del egreso" class="button button3" />
                            <input style="margin-left:40px;" type="submit" value="Buscar" class="button button4">
                        }
                        <p></p>


                    </div>

                    <h6></h6>
                    <button onclick="myFunction(2)" target="_blank" class="button button2">Buscar presupuestos</button>

                    <div id="2" style="display:none;">

                        <h6></h6>
                        @using (Html.BeginForm("MostrarPresupuestos", "Home", FormMethod.Post))
                        {
                            <input style="margin-left:40px;" type="submit" value="Mostrar todos los presupuestos" class="button button4" style="margin-left:40px;">
                        }
                        <p></p>

                    </div>

                </div>
            </div>
    </section>

    <!---------------------------------INGRESOS--------------------------------->

    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">

                    <h2>INGRESOS</h2>
                    <p class="lead">Seleccione una opcion:</p>

                    <h4></h4>
                    @using (Html.BeginForm("CargarAsociar", "Home", FormMethod.Post))
                    {
                        <input type="submit" value="Cargar y asociar" class="button button2">
                    }

                    <h6></h6>
                    <button onclick="myFunction(10)" target="_blank" class="button button2">Buscar Ingresos</button>

                    <div id="10" style="display:none;">

                        <h6></h6>
                        @using (Html.BeginForm("MostrarIngresos", "Home", FormMethod.Post))
                        {
                            <input style="margin-left:40px;" type="submit" value="Mostrar todos los ingresos" class="button button4">
                        }
                        <p style="margin-left:40px;">Buscar ingreso por id:</p>
                        @using (Html.BeginForm("BuscarIngreso", "Home", FormMethod.Post))
                        {
                            <input style="margin-left:40px;" type="text" name="id_ingreso" placeholder="ID del ingreso" class="button button3" />
                            <input style="margin-left:40px;" type="submit" value="Buscar" class="button button4">
                        }
                        <p></p>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!---------------------------------PROYECTOS--------------------------------->

    <section id="proyectos">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">

                    <h2>PROYECTOS</h2>
                    <p class="lead">Seleccione una opcion:</p>

                    <h4></h4>
                    @using (Html.BeginForm("CargarVincular", "Home", FormMethod.Post))
                    {
                        <input type="submit" value="Cargar y vincular" class="button button2">
                    }
                    <h4></h4>

                    <h6></h6>
                    <button onclick="myFunction(30)" target="_blank" class="button button2">Buscar Proyectos</button>
                    <div id="30" style="display:none;">

                        <h4></h4>
                        @using (Html.BeginForm("MostrarProyectos", "Home", FormMethod.Post))
                        {
                            <input style="margin-left:40px;" type="submit" value="Mostrar todos los proyectos" class="button button4">
                        }
                        <p style="margin-left:40px;">Buscar proyecto por id:</p>
                        @using (Html.BeginForm("BuscarProyecto", "Home", FormMethod.Post))
                        {
                            <input style="margin-left:40px;" type="number" name="id_proyecto" placeholder="ID del Proyecto" class="button button3" />
                            <input style="margin-left:40px;" type="submit" value="Buscar" class="button button4">
                        }
                        <p></p>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!---------------------------------PROVEEDORES--------------------------------->

    <section id="proveedores" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">

                    <h2>PROVEEDORES</h2>
                    <p class="lead">Seleccione una opcion:</p>

                    <h4></h4>
                    @using (Html.BeginForm("RegistrarProveedores", "Home", FormMethod.Post))
                    {
                        <input type="submit" value="Registrar" class="button button2">
                    }
                    <h4></h4>
                    @using (Html.BeginForm("MostrarProveedores", "Home", FormMethod.Post))
                    {
                        <input type="submit" value="Mostrar todos los proveedores" class="button button2">
                    }



                </div>
            </div>
        </div>
    </section>


    <!---------------------------------CRITERIOS Y CATEGORIAS--------------------------------->
    <section id="criterios_y_categorias">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">

                    <h2>CRITERIOS Y CATEGORIAS</h2>
                    <p class="lead">Seleccione una opcion:</p>

                    <h4></h4>
                    @using (Html.BeginForm("CargarCriteriosCategorias", "Home", FormMethod.Post))
                    {
                        <input  type="submit" value="Cargar y asociar" class="button button2">
                    }

                    <h4></h4>
                    @using (Html.BeginForm("MostrarCategorias", "Home", FormMethod.Post))
                    {
                        <input type="submit" value="Mostrar todas las categorias" class="button button2">
                    }

                    <h4></h4>
                    @using (Html.BeginForm("MostrarCriterios", "Home", FormMethod.Post))
                    {
                        <input type="submit" value="Mostrar todos los criterios" class="button button2">
                    }






                </div>
            </div>
        </div>
    </section> 

    <!---------------------------------BITACORA DE OPERACIONES--------------------------------->
    <section id="bitacora_de_operaciones" class="bg-light">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 mx-auto">
                    <h2>BITACORA DE OPERACIONES</h2>
                    @using (Html.BeginForm("verBitacora", "Home", FormMethod.Post))
                    {
                        <button target="_blank" class="button button2">Ver bitacora de operaciones</button>
                    }

                </div>
                <h6></h6>

            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Repositorio GitHub</h2>
                    <!-- <p class="lead"></p> -->
                    <a href="https://github.com/manupawlow/DDS-Grupo-5" target="_blank">Repositorio Grupo 5</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Integrantes: Manuel Pawlow - Matias Goñi - Genaro Ciruzzi - Juan Manuel Brea</p>
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="~/Scripts/scrolling-nav.js"></script>


    <script src="~/Scripts/ajax.js"></script>

</body>

</html>
